<table class="table table-primary table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Subject</th>
        <th scope="col">Code</th>
        <th scope="col">Assignment Name</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>English</td>
        <td>ENG1001</td>
        <td>Prepositions</td>
        <td>S</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>German</td>
        <td>GER1001</td>
        <td>Basics</td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Physics</td>
        <td>PHY1001</td>
        <td>Diffraction</td>
        <td>A</td>
      </tr>
    </tbody>
  </table>
